* {
    font-family: 'Bree Serif', serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

body{
    background-color: #424B54;
}
.separator, .separatorFrase {
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 25vw;
    margin-right: 25vw;
    margin-top: 1.5vh;
    font-size: 18pt;
}
.separator::before, .separator::after, .separatorFrase::before, .separatorFrase::after {
    content: '';
    flex: 1;
    border-bottom: 2px solid #3A434B;
}
.separatorFrase::before {
    margin-right: 10px;
}
.separatorFrase::after {
    margin-left: 10px;
}

.greyIcon{
    color: #3A434B;
    background-color: white;
    text-align: center;
}
#opt:hover, #opt:hover .greyIcon{
    color: #56616b;
    background-color: lightgray;
}

#main{
    /* tudo centralizado */
    height: 100vh;
    overflow: hidden;
    margin:  0 auto;
    max-width: 650px;
    background-color: #424B54;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}

#topo {
    padding-top: 2vh;
    width: 100vh;
    height: 4vh;
}

#inimigo, #jogador, #mesaJogo{
    width: 100%;
    display: block;
}

#inimigo{
    height: 10vh;
}



/* divs internas: */

#opt {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    margin: 2vh;
    padding: 1vh;
    border-radius: 100%;
    background-color: white;
    z-index: 9999;
}


#logo img{
    max-height: 6vh;
    margin: 0 auto;
    display: block;
    filter: drop-shadow(0px 4px 4px #222222);
}


.barraVida{
    max-width: 70%;
    height: 4vh;
    background-color: #305B65;
    display: block;
    margin: 2vw auto;
}

.vida{
    height: 100%;
    background-color: #087E8B;
    display: block;
}

/* editar porcentagem de vida = editar width */
#vidaInimigo{
    width: 100%;
}

#vidaJogador{
    width: 100%;
}

.infoVida{
    display: flex;
    align-items: center;
    height: 100%;
}

.infoVida > *{
    margin:1vh;
}

#nomeInimigo, #nomeJogador{
    margin-right:auto;
}

.cartasTrap{
    display: flex;
    justify-content: center;
    margin: auto;
    text-align: center;
}

#mesaJogo{
    display: flex;
    justify-content: inherit;
    flex-wrap: wrap;
    align-items: center;;
}

.cartaVirada{
    background-color: #FFA0A3;
    background-image: repeating-linear-gradient(45deg, transparent, transparent 8px, #FF5A5F 8px, #FF5A5F 15px);
    border: 5px solid #FF5A5F;
    
    width: 8vh;
    height: 12vh;
    margin: 2vh 2vw;
    border-radius: 1vw;
    display: inline-block;
}

.cartaVirada .baralho{
    flex: 0 0 50%;
}

#contador{
    margin: 5px auto;
    text-align: center;
    font-size: 16pt;
    flex: 0 0 100%;
}

#cartaPilha, .cartaJogador, .cartaJogador span{
    width: 8vh;
    height: 12vh;
    margin: 2vh 2vw;
    border: 3px solid white;
    background-color: white;
    border-radius: 5%;
    font-size: 1.2vh;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-align: center;
    display: flex;
    align-items: center;
}

.semCarta{
    opacity: 15%;
}


.podeClicar:hover{
    opacity: 70%;
}

.podeClicar{
    width: calc(8vh + 5%);
    height: calc(12vh + 13%);
    box-shadow: 0 0 2em #FF5A5F;
    background-color: #ffabad;
    background-image: repeating-linear-gradient(45deg, transparent, transparent 8px, #ff7d81 8px, #ff7d81 15px);
    border-color: #ff7d81;
}


